@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

* {
  font-family: "Inter", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background-color: #f3f6f9; */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Button Component CSS */



.btn-brand-color {
  background-color: #f58b0e;
  color: #f6f6f6;
  font-weight: 500;
}

.btn-brand-color:hover {
  background-color: #e38212;
  color: #f6f6f6;
  font-weight: 500;
}

.searchInput::placeholder {
  font-size: 0.9rem !important;
}

.login {
  height: 90vh;
  /* overflow-y: auto; */
}

.login-content-container {
  max-height: 90vh;
  overflow-y: auto;
}


/* Card Component CSS */


.select-category li a {
  color: grey;
  font-weight: 500;
}

.bg-image {
  background-image: url("../src/assets/images/loginSideImage.png");
  background-size: cover;
  background-position: center;
}

.header-nav {
  min-height: 10vh;
}

.login-heading {
  font-weight: 600;
  text-align: center;
}

.signup-heading {
  font-weight: 600;
}

.btn-login {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25rem 1.25rem;
  background-color: #f58b0e;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #e38212;
  color: #ffffff;
}

.btn-linkedin {
  background-color: #0077b5;
}



.btn-linkedin:hover {
  background-color: #106d9f;
}

.login-form>.form-control {
  background-color: #f6f6f6;
  padding: 1.5rem 0.75rem !important;
}

.label-text {
  color: lightslategray;
}

.login-input-group-text {
  background-color: #f3f6f9;
  padding: 1.5rem !important;
}

.brand-color {
  color: #e38212;
  font-weight: 900;
}

.sign-up-buttons {
  padding: 0.6rem 0.6rem;
  background-color: #f58b0e;
  font-weight: 900;
  border: #f58b0e;
  color: #ffffff;
  font-size: 1.25rem;
}

.sign-up-buttons:hover {
  background-color: #e38212;
  color: #ffffff;
}

.visible-eye {
  color: #a5a5a5;
  cursor: pointer;
}

input.login-input:focus {
  box-shadow: none;
}

.signup-link,
.signInLink {
  cursor: pointer;
}

.reset-side-bg-image {
  background-image: url("../src/assets/images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.signup-error-message {
  font-size: 0.8rem;
}

.social-signup:hover {
  cursor: pointer;
}

.reset-password-bg-image {
  background-image: url("../src/assets/images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.forget-password-bg-image {
  background-image: url("../src/assets/images/forgetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.role-selectors-bg-image {
  background-image: url("../src/assets/images/roleSelectorSideImage.png");
  background-size: cover;
  background-position: center;
}

.professional-bg-image {
  background-image: url("../src/assets/images/professionalSideImage.png");
  background-size: cover;
  background-position: center;
}

.form-check-label {
  font-size: 0.75rem;
  color: #616161;
}

.signup-forms input:focus {
  box-shadow: none;
  border: 1px solid #616161;
}

.signup-forms input[type="date"]::placeholder {
  font-size: 0.1rem;

}

/* .dashboard-background{
  background-color: #f3f6f9;
}
.job-description{
  color: #616161;
}
.job-card-description{
  font-size: 0.75rem;
  color: #616161;
}
.job-card-posted-time{
  font-size: 0.70rem;
}
.fs-7{
  font-size: 0.8rem;
}
.btn-brand-color{
  background-color: #f58b0e;
  color: #f6f6f6;
  font-weight: 500;
}
.btn-brand-color:hover{
  background-color: #e38212;
  color: #f6f6f6;
  font-weight: 500;
}
.searchInput::placeholder {
   font-size: 0.9rem !important;
}
.login {
  min-height: 90vh;
}
.select-category  li a{
  color: grey;
  font-weight: 500;
}
.bg-image {
  background-image: url("images/loginSideImage.png");
  background-size: cover;
  background-position: center;
}

.forget-password-bg-image {
  background-image: url("images/forgetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.reset-side-bg-image {
  background-image: url("images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.header-nav {
  min-height: 10vh;
}
.login-heading {
  font-weight: 600;
}
.btn-login {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25rem 1.25rem;
  background-color: #f58b0e;
  color: #ffffff;
}
.btn-login:hover {
  background-color: #e38212;
  color: #ffffff;
}
.btn-linkedin {
  background-color: #0077b5; 
}



.btn-linkedin:hover {
  background-color: #106d9f;
}

.login-form > .form-control {
  background-color: #f6f6f6;
  padding: 1.5rem 0.75rem !important;
}
.label-text {
  color: lightslategray;
}
.login-input-group-text {
  background-color: #f3f6f9;
  padding: 1.5rem !important;
}
.brand-color {
  color: #e38212;
  font-weight: 900;
}

.sign-up-buttons {
  background-color: #f58b0e;
  font-weight: 900;
  border: #f58b0e;
}

.sign-up-buttons:hover {
  background-color: #e38212;
}

.role-selectors-bg-image {
  background-image: url("images/roleSelectionSideImage.png");
  background-size: cover;
  background-position: center;
}

.professional-bg-image{
  background-image: url("images/professionalSideImage.png");
  background-size: cover;
  background-position: center;
}
.role-selector-cards:hover {
  background-color: #f9e1d1;
  cursor: pointer;
}
.rightArrowIcon {
  color: #e38212;
}
.button-bold-text {
  font-weight: 700;
}
.btn-brand-background-color {
  background-color: #f58b0e;
}

.btn-brand-background-color:hover {
  background-color: #e38212;
  color: #ffffff;
}

.visible-eye {
  color: #a5a5a5;
  cursor: pointer;
}

input.login-input:focus {
  box-shadow: none;
}

.signup-link,
.signInLink {
  cursor: pointer;
}

.social-signup:hover {
  cursor: pointer;
}
.role-selection-description, .profile-descriptions {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #616161;
}
.profile-header{
  font-weight: 600;
}
.form-check-label{
  font-size: 0.75rem;
  color: #616161;
}
input[type=date]:valid::-webkit-datetime-edit {
  color: #616161 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: yellow;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.profile-side-headers{
  font-size: 1.3rem;
  font-weight: 700;
}
.profile-inner-headers{
  font-size: 1.1rem;
  font-weight: 500;
} */











/* krishna kumar css edits */

/* newly added job description component(jobDescription.jsx) css */
.job-description {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.company-details-icon {
  color: #595959;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.dashboard-responsibility-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-skills-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-job-post-icons {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-additional-information-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.job-heading {
  font-size: 1.3rem;
  font-weight: 700;
}

.job-posted-on {
  color: #020101;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.job-title-weight {
  font-size: 1rem;
  font-weight: 700;
}

.home-search-icon {
  position: absolute;
  top: .4rem;
  left: 1rem;
}

.searchInput.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}

.searchInput {
  font-size: .9rem;
  padding: .75rem 0;
}



/* newly added job card component(jobCard.jsx) css */
.job-card-component-heading {
  font-weight: 700;
}

.job-card-description {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.job-card-posted-time {
  color: #020101;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.card-company-details-icon {
  color: #020101;
}

.job-reviewed {
  background-color: #d4e4ff;
  color: #2557a7;
  font-size: .8rem;
}

.job-shortlisted {
  background-color: #e4f7e6;
  color: #1f662c;
  font-size: .8rem;
}

.job-contacted {
  background-color: #fff9d6;
  color: #ffe100;
  font-size: .8rem;
}

.job-rejected {
  background-color: #ffe6e6;
  color: #ff0000;
  font-size: .8rem;
}


/* newly added job workspace component(jobworkspace.jsx) css */
.filter-results {
  font-size: 0.9rem;
}



/* newly added job card component(jobCard.jsx) css */
.filter-section {
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-section.form-select option {
  padding: 15px !important;
}

.filter-section.form-select:focus {
  border-color: #020101;
  outline: 0;
  box-shadow: none;
}

.job-filter-heading span {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.job-filter-sub-headings {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.form-check-label {
  font-size: 0.9rem;
}

.card-inner-details {
  font-size: .8rem;
}

.filter-side-butons {
  padding: .13rem 0;
}







/* newly added filter method component(filtermethod.jsx) css */
.filter-menus {
  padding: 0.13rem 0;
}

/* width for header seeting-row-height */
:root {
  --nav-height: 4rem;
  --dashboard-menu: 5.5rem;
  --homePage-mainContent-height: calc(100vh - (var(--nav-height) + var(--dashboard-menu)));
}

.navbar-height {
  height: var(--nav-height);
}

.bell-icon {
  cursor: pointer;
}

.notification-bell-count {
  font-size: 10px;
}

.notification-box {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 4rem;
  width: 30rem;
  height: 55vh;
  background-color: white;
  overflow: auto;
}

.notification-header {
  background-color: #ffebcef9;
}

.notification-header button {
  font-size: 1rem;
}

.show-notify-box .notification-box {
  display: block;
}

.notification-content-box {
  background-color: #f3f6f9;
}

.notification-content-footer span {
  font-size: .8rem;
}

.notification-content-text p {
  font-size: .9rem;
  font-weight: 400;
  color: #595959;
}

.setting-row-height {
  height: calc(100vh - (var(--nav-height) + var(--dashboard-menu)));
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.profile-bg {
  background-color: #f3f6f9;
}

.learning-page-height {
  height: calc(100vh - var(--nav-height));
}

.learning-page-bg {
  background-color: #f3f6f9;
}

.community-page-height {
  height: calc(100vh - var(--nav-height));
}

.community-page-bg {
  background-color: #f3f6f9;
}


/* job description sticky height */
.JobDescription-sticky-top-height {
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.jobDescription-height {
  height: calc(var(--homePage-mainContent-height) - 14.3rem);
}

/* professional homepage background color  */
.homePage-backgroundColor {
  background-color: #f3f6f9;
}



/* navlink active  */
.navigation-link-active a {
  text-decoration: none;
  color: gray;

}

.navigation-link-active a:hover {
  color: gray !important;
}

.navigation-link-active a.active {
  font-weight: 600;
  color: gray !important;
  position: relative;
}

.navigation-link-active a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 3px;
  width: 90%;
  background-color: #ff8a04c4;
  animation: border-bottom .4s ease;
  transform: scale(1);
  transform-origin: center;
}

@keyframes border-bottom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);

  }
}


.navigation-header-link-active a.active {
  font-weight: 600;
  transition: all 2s linear;

}

.header-dropdown.dropdown-item:hover {
  background-color: #e38212;
  color: white;
  transition: all .2s linear;
}

.header-dropdown.dropdown-item.active {
  background-color: #ff8a04c4;
  color: white;
}

/* video js  */
.video-js {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 0 auto;
}

/* login page and reset page input field  */
.form-control.password-field-focus:focus {
  border-color: transparent !important;
}


/* home page responsive filter card */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --lightblue: #e3f2fd;
  --orange-bg-filter: #e38212;
}

.responsive-filter {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.responsive-filter-card {
  position: fixed;
  bottom: 5rem;
  right: 40px;
  background-color: #fff;
  width: 350px;
  border-radius: 15px;
  overflow: auto;
  animation: responsiveFilterCard .4s ease;
  transition: all 0.2s linear;
}

@keyframes responsiveFilterCard {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.responsive-filter-card header {
  background-color: var(--orange-bg-filter);
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.responsive-filter-card header .close-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #fff;
}

.responsive-filter-card header h2 {
  color: #fff;
  font-size: 1.4rem;
}

.responsive-filter-card .filter-body-content {
  height: 450px;
  overflow-y: auto;
  padding: 15px 20px 20px;
}

.responsive-filter-toggler {
  position: fixed;
  bottom: 20px;
  right: 35px;
  background-color: var(--orange-bg-filter);
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.responsive-filter-toggler p {
  position: absolute;
  font-size: 1.4rem;
}

.responsive-filter-toggler .close-icon {
  opacity: 0;
}

/* media-queries */
@media (max-width:490px) {
  .responsive-filter-card {
    width: 90%;
    height: 70%;
    bottom: 10%;
    right: 5%;
    left: 5%;
    z-index: 1;
  }

  .responsive-filter-card header {
    background-color: var(--orange-bg-filter);
    text-align: center;
    padding: 10px 0;
    position: relative;
  }

  .responsive-filter-close-icon {
    cursor: pointer;
  }

  .responsive-filter-card .filter-body-content {
    height: 90%;
  }

  .responsive-filter-card header .close-icon {
    display: block;
  }


  .show-responsive-filter .responsive-filter-card {
    opacity: 1 !important;
  }
}













/* pradeep  */

/* Professional Signup========================================================================= */
.professional-signup-error-message {
  display: none;
  /* visibility: hidden; */
}

input:invalid[focused="true"]~.professional-signup-error-message {
  display: block;
}

.react-tel-input .form-control {
  width: 100% !important;
  border-radius: 5px !important;
}

.react-tel-input .form-control:hover {
  outline: none;
  border: 1px solid #ced4da !important;
}

.react-tel-input .special-label {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 10px !important;
  display: block;
  background: white;
  padding: 0 5px;
  font-size: 13px;
  white-space: nowrap;
  color: #6c757d;
}

.react-tel-input .form-control:focus {
  outline: none !important;
  border: 1px solid #ced4da !important;
  transition: box-shadow ease .25s, border-color ease .25s !important;
  box-shadow: none !important;
  border: 1px solid #616161 !important;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.user-form-group {
  position: relative;
  margin-bottom: 1rem;
}

.user-form-group .form-control {
  font-size: 1rem;
  padding: .7rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  z-index: 0 !important;
}

.user-form-group .form-control:focus {
  border-color: #7f7f7f;
  outline: 0;
}

.user-form-group .form-control:not(:placeholder-shown)+label {
  top: -0.5rem;
  font-size: 0.8rem;
  color: #6c757d;
}

.user-form-group label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #495057;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  background: #fff;
  padding: 0 0.4rem;
}


.react-tel-input .form-control {
  padding: .7rem 3.5rem !important;
  margin-bottom: 1rem;
}

/* profile page  */
.profile-side-headers {
  font-size: 1rem;
  font-weight: 700;
}

.profile-descriptions {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.img-upload-plus-icon {
  position: absolute;
  right: 28%;
  bottom: -2%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.img-upload-plus-icon:hover {
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}


.difficulty-level-options {
  background: #fff !important;
  color: #000 !important;
  cursor: pointer;
}

.custom-dropdown .dropdown-toggle {
  background-color: #fff !important;
  border: 1px solid #ced4da !important;
  color: #000 !important;
  /* box-shadow: 0px 0px 5px 3px #ffb1c7; */
  padding: 5px 7px;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translate(-50%, -50%);
}

.navbar-dropdown .dropdown-menu {
  /* padding: 0; */
  --bs-dropdown-divider-margin-y: 0 !important
}

.navbar-dropdown .dropdown-menu li a {
  padding: .6rem;
}

.custom-dropdown .dropdown-toggle::after {
  display: inline-block;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

.custom-dropdown .dropdown-toggle:focus {
  box-shadow: 0px 0px 1px 1px lightgray !important;
  border: 1px solid #ced4da00 !important;
}

.custom-dropdown .dropdown-menu {
  width: 100% !important;
  max-height: 450px !important;
  overflow-y: auto;
}

.custom-dropdown ul {
  min-width: 100% !important;
  max-height: 450px !important;
  overflow-y: auto;

}

.custom-dropdown .dropdown-menu .no-history {
  padding: 0 15px;
  width: 100%;
}

.custom-dropdown .dropdown-menu li {
  padding: 0;

}

.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background: #e38212;
  color: #fff;
  transition: 0.1s linear;
  cursor: pointer;
}

.react-icon {
  cursor: pointer;
}


.progress {
  border-radius: 1.2rem;
}

.progress-bar-color {
  background-color: #0cbc0c;
  font-weight: 600;
  border-radius: 1.2rem;
}

.custom-file-input {
  /* Hide the default file input */
  display: none;
  cursor: pointer;
}
between
.custom-file-label::after {
  /* Hide the "No file chosen" text */
  display: none;
  cursor: pointer;
}

.upload-btn {
  cursor: pointer;
}

.personal-detail-input {
  border: 0;
  border-bottom: 2px solid #e381129f;
  /* padding: 7px; */
}

.profile-bg input[type=checkbox] {
  accent-color: #e38212;
  color: #fff !important;
  cursor: pointer;
}

.invisible-checkbox {
  visibility: hidden;
}

.personal-detail-non-edit-input {
  border: 0;
  border-bottom: 2px solid #fff;
  color: #212529;
  background-color: transparent;
}

.personal-detail-non-edit-input:focus {
  outline: 0;
}

.personal-detail-input:focus {
  outline: none;
  border-radius: 5px;
}

.edit-icon {
  cursor: pointer;
}

.edit-icon:hover {
  color: #ff8800;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: rgb(142, 142, 142);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #e38212;
}

input:focus+.slider {
  box-shadow: 0 0 1px #e38212;
}

input:checked+.slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
  background-color: #fff;

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Profile page - About */

#editAbout textarea:focus {
  outline: none;
}

#editAbout textarea {
  border: 1px solid lightgray;
}

/* profile picture hover and click  */
.pic-holder {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(90, 92, 105, 0.7);
  color: #f8f9fc;
  font-size: 12px;
  font-weight: 600;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.pic-holder .upload-file-block {
  cursor: pointer;
}

.pic-holder:hover .upload-file-block,
.uploadProfileInput:focus~.upload-file-block {
  opacity: 1;
}














/* SK */
/* learning & Community */
.learning-img-height,
.community-img-height {
  height: 13rem;
}

.learning:active {
  background-color: #e38212;
}

.card-text {
  color: #595959;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  /* margin: 0 1rem; */
}

.learningTitle {
  font-weight: 600;
}