@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap");

*{
  font-family: "Inter", sans-serif;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* background-color: #f3f6f9; */
}

/* Button Component CSS */



.btn-brand-color {
  background-color: #f58b0e;
  color: #f6f6f6;
  font-weight: 500;
}

.btn-brand-color:hover {
  background-color: #e38212;
  color: #f6f6f6;
  font-weight: 500;
}

.searchInput::placeholder {
  font-size: 0.9rem !important;
}

.login {
  height: 90vh;
  /* overflow-y: auto; */
}
.login-content-container {
  max-height: 90vh;
  overflow-y: auto;
}


/* Card Component CSS */


.select-category li a {
  color: grey;
  font-weight: 500;
}

.bg-image {
  background-image: url("../src/assets/images/loginSideImage.png");
  background-size: cover;
  background-position: center;
}

.header-nav {
  min-height: 10vh;
}

.login-heading {
  font-weight: 600;
  text-align: center;
}

.signup-heading {
  font-weight: 600;
}

.btn-login {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25rem 1.25rem;
  background-color: #f58b0e;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #e38212;
  color: #ffffff;
}

.btn-linkedin {
  background-color: #0077b5;
}



.btn-linkedin:hover {
  background-color: #106d9f;
}

.login-form>.form-control {
  background-color: #f6f6f6;
  padding: 1.5rem 0.75rem !important;
}

.label-text {
  color: lightslategray;
}

.login-input-group-text {
  background-color: #f3f6f9;
  padding: 1.5rem !important;
}

.brand-color {
  color: #e38212;
  font-weight: 900;
}

.sign-up-buttons {
  padding: 0.6rem 0.6rem;
  background-color: #f58b0e;
  font-weight: 900;
  border: #f58b0e;
  color: #ffffff;
  font-size: 1.25rem;
}

.sign-up-buttons:hover {
  background-color: #e38212;
  color: #ffffff;
}

.visible-eye {
  color: #a5a5a5;
  cursor: pointer;
}

input.login-input:focus {
  box-shadow: none;
}

.signup-link,
.signInLink {
  cursor: pointer;
}

.reset-side-bg-image {
  background-image: url("../src/assets/images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.signup-error-message {
  font-size: 0.8rem;
}

.social-signup:hover {
  cursor: pointer;
}

.reset-password-bg-image {
  background-image: url("../src/assets/images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.forget-password-bg-image {
  background-image: url("../src/assets/images/forgetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}

.role-selectors-bg-image {
  background-image: url("../src/assets/images/roleSelectorSideImage.png");
  background-size: cover;
  background-position: center;
}

.professional-bg-image {
  background-image: url("../src/assets/images/professionalSideImage.png");
  background-size: cover;
  background-position: center;
}

.form-check-label {
  font-size: 0.75rem;
  color: #616161;
}

.signup-forms input:focus {
  box-shadow: none;
  border: 1px solid #616161;
}

.signup-forms input[type="date"]::placeholder {
  font-size: 0.1rem;

}

/* .dashboard-background{
  background-color: #f3f6f9;
}
.job-description{
  color: #616161;
}
.job-card-description{
  font-size: 0.75rem;
  color: #616161;
}
.job-card-posted-time{
  font-size: 0.70rem;
}
.fs-7{
  font-size: 0.8rem;
}
.btn-brand-color{
  background-color: #f58b0e;
  color: #f6f6f6;
  font-weight: 500;
}
.btn-brand-color:hover{
  background-color: #e38212;
  color: #f6f6f6;
  font-weight: 500;
}
.searchInput::placeholder {
   font-size: 0.9rem !important;
}
.login {
  min-height: 90vh;
}
.select-category  li a{
  color: grey;
  font-weight: 500;
}
.bg-image {
  background-image: url("images/loginSideImage.png");
  background-size: cover;
  background-position: center;
}

.forget-password-bg-image {
  background-image: url("images/forgetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.reset-side-bg-image {
  background-image: url("images/resetPasswordSideImage.png");
  background-size: cover;
  background-position: center;
}
.header-nav {
  min-height: 10vh;
}
.login-heading {
  font-weight: 600;
}
.btn-login {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  padding: 1.25rem 1.25rem;
  background-color: #f58b0e;
  color: #ffffff;
}
.btn-login:hover {
  background-color: #e38212;
  color: #ffffff;
}
.btn-linkedin {
  background-color: #0077b5; 
}



.btn-linkedin:hover {
  background-color: #106d9f;
}

.login-form > .form-control {
  background-color: #f6f6f6;
  padding: 1.5rem 0.75rem !important;
}
.label-text {
  color: lightslategray;
}
.login-input-group-text {
  background-color: #f3f6f9;
  padding: 1.5rem !important;
}
.brand-color {
  color: #e38212;
  font-weight: 900;
}

.sign-up-buttons {
  background-color: #f58b0e;
  font-weight: 900;
  border: #f58b0e;
}

.sign-up-buttons:hover {
  background-color: #e38212;
}

.role-selectors-bg-image {
  background-image: url("images/roleSelectionSideImage.png");
  background-size: cover;
  background-position: center;
}

.professional-bg-image{
  background-image: url("images/professionalSideImage.png");
  background-size: cover;
  background-position: center;
}
.role-selector-cards:hover {
  background-color: #f9e1d1;
  cursor: pointer;
}
.rightArrowIcon {
  color: #e38212;
}
.button-bold-text {
  font-weight: 700;
}
.btn-brand-background-color {
  background-color: #f58b0e;
}

.btn-brand-background-color:hover {
  background-color: #e38212;
  color: #ffffff;
}

.visible-eye {
  color: #a5a5a5;
  cursor: pointer;
}

input.login-input:focus {
  box-shadow: none;
}

.signup-link,
.signInLink {
  cursor: pointer;
}

.social-signup:hover {
  cursor: pointer;
}
.role-selection-description, .profile-descriptions {
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: #616161;
}
.profile-header{
  font-weight: 600;
}
.form-check-label{
  font-size: 0.75rem;
  color: #616161;
}
input[type=date]:valid::-webkit-datetime-edit {
  color: #616161 !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: yellow;
}
::-webkit-calendar-picker-indicator {
  filter: invert(0);
}
.profile-side-headers{
  font-size: 1.3rem;
  font-weight: 700;
}
.profile-inner-headers{
  font-size: 1.1rem;
  font-weight: 500;
} */











/* krishna kumar css edits */

/* newly added job description component(jobDescription.jsx) css */
.job-description {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.company-details-icon {
  color: #595959;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.dashboard-responsibility-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-skills-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-job-post-icons {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.dashboard-additional-information-ul {
  color: #020101;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.job-heading {
  font-size: 1.3rem;
  font-weight: 700;
}

.job-posted-on {
  color: #020101;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.job-title-weight {
  font-size: 1rem;
  font-weight: 700;
}

.home-search-icon {
  position: absolute;
  top: .5rem;
  left: 1rem;
}

.searchInput.form-control:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}




/* newly added job card component(jobCard.jsx) css */
.job-card-component-heading {
  font-weight: 700;
}

.job-card-description {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.job-card-posted-time {
  color: #020101;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.card-company-details-icon {
  color: #020101;
}





/* newly added job workspace component(jobworkspace.jsx) css */
.filter-results {
  font-size: 0.9rem;
}



/* newly added job card component(jobCard.jsx) css */
.filter-section {
  font-size: 0.9rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-section.form-select option {
  padding: 15px !important;
}

.filter-section.form-select:focus {
  border-color: #020101;
  outline: 0;
  box-shadow: none;
}

.job-filter-heading span {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.job-filter-sub-headings {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
}

.form-check-label {
  font-size: 0.9rem;
}

.card-inner-details {
  font-size: .8rem;
}

.filter-side-butons {
  padding: .13rem 0;
}







/* newly added filter method component(filtermethod.jsx) css */
.filter-menus {
  padding: 0.13rem 0;
}

/* width for header seeting-row-height */
:root {
  --nav-height: 4rem;
  --dashboard-menu: 5.5rem;
  --homePage-mainContent-height: calc(100vh - (var(--nav-height) + var(--dashboard-menu)));
}

.navbar-height {
  height: var(--nav-height);
}

.setting-row-height {
  height: calc(100vh - (var(--nav-height) + var(--dashboard-menu)));
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.profile-bg {
  background-color: #f3f6f9;
}

.learning-page-height {
  height: calc(100vh - var(--nav-height));
}

.learning-page-bg {
  background-color: #f3f6f9;
}

.community-page-height {
  height: calc(100vh - var(--nav-height));
}

.community-page-bg {
  background-color: #f3f6f9;
}


/* job description sticky height */
.JobDescription-sticky-top-height {
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.jobDescription-height {
  height: calc(var(--homePage-mainContent-height) - 14rem);
}

/* professional homepage background color  */
.homePage-backgroundColor {
  background-color: #f3f6f9;
}



/* navlink active  */


.navigation-link-active a {
  text-decoration: none;
  color: gray;

}

.navigation-link-active a:hover {
  color: gray !important;
}

.navigation-link-active a.active {
  font-weight: 600;
  color: gray !important;
  position: relative;
}

.navigation-link-active a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 3px;
  width: 90%;
  background-color: #ff8a04c4;
  animation: border-bottom .4s ease;
  transform: scale(1);
  transform-origin: center;
}

@keyframes border-bottom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);

  }
}


.navigation-header-link-active a.active {
  font-weight: 600;
  transition: all 2s linear;

}

.header-dropdown.dropdown-item:hover {
  background-color: #ff8a04c4;
  color: white;
}

.header-dropdown.dropdown-item.active {
  background-color: #ff8a04c4;
  color: white;
}




/* video js  */
.video-js {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: block;
  margin: 0 auto;
}


/* login page and reset page input field  */
.form-control.password-field-focus:focus {
  border-color: transparent !important;
}


/* profile page  */
.profile-side-headers {
  font-size: 1rem;
  font-weight: 700;
}

.profile-descriptions {
  color: #595959;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
}

.img-upload-plus-icon{
  position: absolute;
  right: 28%;
  bottom: -2%;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress{
  border-radius: 1.2rem;
}
.progress-bar-color{
  background-color: #0cbc0c;
  font-weight: 600;
  border-radius: 1.2rem;
}

/* pradeep  */

/* Professional Signup========================================================================= */
.professional-signup-error-message {
  display: none;
  /* visibility: hidden; */
}

input:invalid[focused="true"]~.professional-signup-error-message {
  display: block;
}

.react-tel-input .form-control {
  width: 100% !important;
  border-radius: 5px !important;
}
.react-tel-input .form-control:hover {
  outline: none;
  border: 1px solid #ced4da !important;
}

.react-tel-input .special-label {
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 10px !important;
  display: block;
  background: white;
  padding: 0 5px;
  font-size: 13px;
  white-space: nowrap;
  color: #6c757d;
}
.react-tel-input .form-control:focus {
  outline: none !important;
  border: 1px solid #ced4da !important;
  transition: box-shadow ease .25s, border-color ease .25s !important;
  box-shadow: none !important;
  border: 1px solid #616161 !important;
}
/* .react-tel-input .form-control:focus {
  outline: none !important;
  border: none;
  transition: box-shadow ease .25s, border-color ease .25s !important;
}
.react-tel-input .form-control:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.react-tel-input .form-control:focus+div:before {
  color: #1976d2
}

.react-tel-input .form-control.invalid-number {
  border: 1px solid #f44336
}

.react-tel-input .form-control.invalid-number:focus {
  box-shadow: 0 0 0 1px #f44336
}

.react-tel-input .form-control.invalid-number+div:before {
  content: 'Error';
  display: none;
  color: #f44336;
  width: 27px
} */

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.user-form-group {
  position: relative;
  margin-bottom: 1rem;
}

.user-form-group .form-control {
  font-size: 1rem;
  padding: .7rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  z-index: 0 !important;
}

.user-form-group .form-control:focus {
  border-color: #7f7f7f;
  outline: 0;
  /* box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25); */
}

.user-form-group .form-control:not(:placeholder-shown) + label {
  top: -0.5rem;
  font-size: 0.8rem;
  color: #6c757d;
}

.user-form-group label {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  color: #495057;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
  background: #fff;
  padding: 0 0.4rem;
}


.react-tel-input .form-control{
  padding: .7rem 3.5rem  !important; 
  margin-bottom: 1rem;
}





/* SK */
/* learning & Community */
.learning-img-height,
.community-img-height {
  height: 13rem;
}

.learning:active {
  background-color: #e38212;
}

.card-text {
  color: #595959;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  /* margin: 0 1rem; */
}

.learningTitle {
  font-weight: 600;
}


/* custom dropdownmenu */

.customDropdown .dropdown-menu {
  width: 300px !important;
  max-height: 450px !important;
  overflow-y: auto;
}
#dropdownMenuButton1{
  width: 300px !important;
}
.customDropdown-difficulty-level ul{
  min-width: 100% !important;
  max-height: 450px !important;
  overflow-y: auto;
}

.customDropdown .dropdown-menu .no-history{
  padding: 0 15px;
  width: 100%;
}
.customDropdown .dropdown-menu li{
  padding: 0;
}
.customDropdown .dropdown-menu .dropdown-item:hover{
    background: #e38212;
    color: #fff;
    transition: 0.05s linear;
}
























@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --lightblue : #e3f2fd;
    --orange-bg-filter:#e38212;
}
.responsive-filter{
    position: fixed;
    bottom: 5rem;
    right: 40px;
    background-color: #fff;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.2s linear ;
}
.responsive-filter ::-webkit-scrollbar{
    width: 0;
}
.show-responsive-filter .responsive-filter{
    transform: scale(1);
    opacity: 1;
    transition: all 0.2s linear ;
}
.responsive-filter header{
    background-color: var(--orange-bg-filter);
    text-align: center;
    padding: 10px 0;
    position: relative;
}
.responsive-filter header .close-icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    display: none;
}
.responsive-filter header h2{
    color: #fff;
    font-size: 1.4rem;
}
.responsive-filter .filter-box{
    height: 450px;
    overflow-y: auto;
    padding: 15px 20px 20px;
}
.responsive-filter .chat{
    display: flex;
}
.filter-box p{
    background-color: var(--orange-bg-filter);
    border-radius: 10px 10px 0px 10px;
    padding: 12px 16px;
    color: #fff;
    font-size: 0.95rem;
    max-width: 75%;
}
.filter-box .incoming {
    margin-top: 7px;

}
.filter-box .incoming p{
    background-color: #f2f2f2;
    color: #000;
}
.filter-box .smart-toy{
    height: 32px;
    width: 32px;
    align-self: flex-end;
    background-color: var(--orange-bg-filter);
    color: #fff;
    text-align: center;
    margin: 0 10px 7px 0;
    line-height: 32px;
    border-radius: 4px;
}
.filter-box .outgoing{
    margin: 20px 0;
    justify-content: flex-end;
}
.responsive-filter .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc;
    padding: 5px 20px;
    display: flex;
    gap: 5px;
}
.chat-input textarea{
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
    width: 100%;
    height: px;
}
#send-btn{
    color: var(--orange-bg-filter);
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
    visibility: hidden;
}
.chat-input textarea:valid ~ #send-btn{
    visibility: visible;
}
.responsive-filter-toggler{
    position: fixed;
    bottom: 20px;
    right: 35px;
    background-color: var(--orange-bg-filter);
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.responsive-filter-toggler p{
    position: absolute;
    font-size: 1.4rem;
}
.responsive-filter-toggler .message-icon{
    opacity: 1;
}
.responsive-filter-toggler .close-icon{
    opacity: 0;
}
.show-responsive-filter .responsive-filter-toggler .message-icon{
    opacity: 0;
}
.show-responsive-filter .responsive-filter-toggler .close-icon{
    opacity: 1;
}

/* media-queries */

@media (max-width:490px){
    .responsive-filter{
        width: 90%;
        height: 80%;
        bottom: 10%;
        right: 5%;
        left: 5%;
        z-index: 1;
    } 
    .responsive-filter header{
        background-color: var(--orange-bg-filter);
        text-align: center;
        padding: 10px 0;
        position: relative;
    }  
    .responsive-filter-close-icon{
        cursor: pointer;
    }
    .responsive-filter .filter-box{
        height: 90%;
    }
    .responsive-filter header .close-icon{
        display: block;
    }
    .responsive-filter{
        opacity: 0 !important;
    }
    .show-responsive-filter  .responsive-filter{
        opacity: 1 !important;
    }
}